<nav #sidenav>
    <div class="nav-wrapper black">
        <a [routerLink]="['/overview']" class="brand-logo schedule-logo left">JetIQ-Schedule</a>
        <ul id="nav-mobile" class="right">
            <li *ngFor="let link of navLinks">
                <a [routerLink]="link.routerLink" routerLinkActive="active-page">
                    {{ link.label }}
                </a>
            </li>

            <li (click)="logout()" *ngIf="auth.isAuthenticated()">
                <a class="btn orange darken-4">Вийти</a>
            </li>

        </ul>

    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>
