<h3>Заняття</h3>

<button class="btn create-button green" [routerLink]="['/lesson', 'new']">
    <i class="material-icons right">create</i>
    Додати Заняття
</button>

<button class="btn create-button blue darken-4 waves-effect" (click)="isFilerVisible = !isFilerVisible">
    <i class="material-icons right">filter_list</i>
    Фільтрувати
</button>


<div class="ml10">
    <app-lesson-filter
        *ngIf="isFilerVisible"
        (onFilter)="applyFilter($event)"
        [weekday]="weekday"
        [weekSlug]="weekSlug"
    >
    </app-lesson-filter>
</div>

<div class="row" *ngIf="lessons$ | async as lessons; else loading">
    <div class="col s12 m6" *ngFor="let lesson of lessons">
        <app-lesson-item [lesson]="lesson"></app-lesson-item>
    </div>
</div>


<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
