<div class="row">

    <div class="card col s12 m12 l6 push-l3 login-form">

        <span class="card-title center-align">
            <b>Увійти в систему</b>
        </span>

        <div class="card-content">
            <form [formGroup]="form" (ngSubmit)="submit()">

                <div class="input-field">
                    <input id="username" type="text" formControlName="username">
                    <label for="username">Логін</label>
                    <span
                        class="helper-text red-text"
                        *ngIf="form.get('username').invalid && form.get('username').touched"
                    >
                    <span *ngIf="form.get('username').errors['required']">Обов'кове</span>
                </span>
                </div>

                <div class="input-field">
                    <input id="password" type="password" formControlName="password">
                    <label for="password">Пароль</label>
                    <span
                        class="helper-text red-text"
                        *ngIf="form.get('password').invalid && form.get('password').touched"
                    >
                    <span *ngIf="form.get('password').errors['required']">Обов'кове</span>
                </span>
                </div>

                <button
                    class="btn black"
                    type="submit"
                    [disabled]="form.disabled || form.invalid"
                >
                    Увійти <i class="material-icons right">forward</i>
                </button>

            </form>

        </div>

        <div class="card-action">
            <button
                class="btn black"
                routerLink="/register"
            >
                Зареєструватись <i class="material-icons right">person_add</i>
            </button>
        </div>

    </div>

</div>
