<div class="weekdays">
    <div
        *ngFor="let weekday of weekdays"
        class="waves-effect waves-effect day-block"
        [class.activated]="weekday.value == currentValue"
        (click)="chose(weekday.value)"
    >
        <div>
            <p>{{ weekday.label | titlecase }}</p>
        </div>
    </div>
</div>
