
.weekdays {
    padding: 5px;
    display: inline-block;
    height: 65px;
    margin-bottom: 10px;
}


.day-block {
    margin-bottom: 10px;
    width: 120px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    padding-top: 0.1rem;
    background-color: #1565c0;
}

.activated {
    height: 65px;
    background-color: #42a5f5;
    font-size: 1.3rem;
    padding-top: 0.15rem;
}
