
<div class="row">

    <div class="col s6">
        <label for="weekday">День тижня</label>
        <div class="input-field">
            <select
                #weekdayRef
                id="weekday"
                [(ngModel)]="weekday"
            >
                <option class="red-text" [ngValue]="null">Скинути</option>
                <option
                    *ngFor="let weekday of weekdays"
                    [value]="weekday.value"
                    [selected]="selected(weekday.value)"
                >
                    {{ weekday.label }}
                </option>
            </select>

        </div>
    </div>

    <div class="col s6">
        <!--   Slug field     -->
        <label for="slug">Індифікатор тижня</label>
        <div class="input-field">
            <input
                #slugRef
                id="slug"
                class="autocomplete"
                type="text"
                autocomplete="off"
                [(ngModel)]="slug"
            >
        </div>
    </div>


</div>

<div class="row">
    <div class="col">
        <button class="btn blue darken-4 waves-effect" (click)="submitFilter()">
            Застосувати
            <i class="material-icons right">check</i>
        </button>
    </div>
    <div class="col">
        <button class="btn red waves-effect" (click)="cancelFilter()">
            Скинути
            <i class="material-icons right">clear</i>
        </button>
    </div>
</div>


