.color-tag {
    border-radius: 20%;
    font-size: 150%;
}

p {
    font-size: 150%;
}

.lesson-time {
    padding: 5px;
    margin-bottom: 30px;
    font-size: 150%;
    border: 4px dotted black;
    width: 50%;
}

.full-button {
    width: 100%;
}
