<div class="card indigo hoverable">
    <div class="card-content white-text">

        <span class="card-title subject-title">
            <b>{{ lesson.subject.name }}</b>
        </span>

        <div class="lesson-time">
            <span>
            <i class="material-icons left small">today</i>
                {{ lesson.weekday | weekdayUA | titlecase }} {{ lesson.time | date: 'HH:mm'}}
            </span>
        </div>


        <span>
            <b>
                Індифікатор тижня
                <i class="material-icons left small red-text">location_searching</i>
            </b>
        </span>
        <p>
            <span class="indigo lighten-1">{{ lesson.week_slug }}</span>
        </p>


    </div>
    <div class="card-action">
        <div class="row">
            <div class="col s12 m6">
                <button class="btn blue darken-3 black-text full-button" [routerLink]="['/lesson', lesson.id]">
                    <i class="material-icons left">open_in_new</i>
                    Заняття
                </button>
            </div>
        </div>
    </div>
</div>
