<h3>
    <a routerLink="/lesson">Заняття</a> >
    <span *ngIf="lesson">{{ lesson.subject.name }}</span>
</h3>


<div class="row">

    <div class="col s12 m6">
        <div class="card-panel indigo">

            <button
                class="waves-effect waves-light btn red right"
                (click)="delete()"
                [disabled]="form.disabled"
            >
                <i class="material-icons right">delete_forever</i>Видалити
            </button>

            <form [formGroup]="form" (ngSubmit)="submit()">

                <!--   subject field     -->
                <label for="subject">Назва предмету</label>
                <div class="input-field">
                    <select
                        #subjectRef
                        id="subject"
                        formControlName="subject"
                        [class.invalid]="form.get('subject').invalid && form.get('subject').touched"
                        [disabled]="form.disabled"
                    >
                        <option
                            *ngFor="let subject of subjects"
                            [ngValue]="subject.name"
                            [class.selected]="lesson.subject.name == subject.name"
                        >
                            {{ subject.name }}
                        </option>
                    </select>

                </div>
                <div
                    class="helper-text red-text"
                    *ngIf="form.get('subject').invalid"
                >
                    <span *ngIf="form.get('subject').errors['required']">
                        Назва обов'язкова
                    </span>
                </div>

                <!--   Slug field     -->
                <label for="slug">Індифікатор тижня</label>
                <div class="input-field">
                    <input
                        #slugRef
                        id="slug"
                        class="autocomplete"
                        type="text"
                        formControlName="slug"
                        autocomplete="off"
                        [class.invalid]="form.get('slug').invalid && form.get('slug').touched"
                    >
                </div>
                <div
                    class="helper-text red-text"
                    *ngIf="form.get('slug').invalid && form.get('slug').touched"
                >
                    <span *ngIf="form.get('slug').errors['required']">
                        Поле обовязкове
                    </span>
                </div>

                <!--   weekday field     -->
                <label for="subject">День тижня</label>
                <div class="input-field">
                    <select
                        #weekdayRef
                        id="weekday"
                        formControlName="weekday"
                        [class.invalid]="form.get('weekday').invalid && form.get('weekday').touched"
                        [disabled]="form.disabled"
                    >
                        <option
                            *ngFor="let weekDay of weekDays"
                            [ngValue]="weekDay.value"
                            [selected]="lesson.weekday == weekDay.value"
                        >
                            {{ weekDay.label }}
                        </option>
                    </select>

                </div>
                <div
                    class="helper-text red-text"
                    *ngIf="form.get('weekday').invalid"
                >
                    <span *ngIf="form.get('weekday').errors['required']">
                        День тижня обов'язковий
                    </span>
                </div>


                <!--   time field     -->
                <label for="time">Час початку заняття</label>
                <div>
                    <input
                        #timeRef
                        id="time"
                        class="timepicker"
                        formControlName="time"
                        [class.invalid]="form.get('time').invalid && form.get('time').touched"
                    >
                </div>
                <div
                    class="helper-text red-text"
                    *ngIf="form.get('time').invalid && form.get('time').touched"
                >
                    <span *ngIf="form.get('time').errors['required']">
                        Час обовязковий
                    </span>
                </div>


                <!--   Create button     -->
                <div class="row">
                    <div class="col s6">
                        <button
                            type="submit"
                            [disabled]="form.invalid || form.disabled"
                            class="waves-effect waves-light btn green"
                        >
                            Зберегти <i class="material-icons right">create</i>
                        </button>
                    </div>

                </div>

            </form>

            <div class="row">
                <div class="col s12">
                    <button
                        (click)="planeVisit()"
                        [disabled]="isScheduling"
                        class="waves-effect waves-light btn green darken-4"
                    >
                        Відвідати Заняття <i class="material-icons right">directions_run</i>
                    </button>
                </div>

            </div>

        </div>
    </div>

    <div class="col s12 m6">

        <div class="row">
            <div class="mg-top10" *ngIf="lesson">
                <button class="btn grey black-text full-button" (click)="duplicate()">
                    <i class="material-icons left">content_copy</i>
                    Дублювати
                </button>
            </div>

            <div class="mg-top10" *ngIf="lesson">
                <button class="btn orange black-text full-button" [routerLink]="['/subject', lesson.subject.name]">
                    <i class="material-icons left">open_in_new</i>
                    Предмет
                </button>
            </div>
        </div>

        <div class="card indigo lighten-2" *ngIf="isScheduling">

            <div class="card-content">

                <span class="card-title">
                    Запланувати відвідування
                    <a class="btn-flat right red">
                        <i class="material-icons" (click)="cancelScheduling()">close</i>
                    </a>
                </span>


                <form [formGroup]="visitForm" (ngSubmit)="scheduleVisit()">
                    <div class="input-field">
                        <input id="date" type="text" #date formControlName="date">
                        <label for="date" class="black-text">Дата</label>
                    </div>
                    <div
                        class="helper-text red-text text-darken-4"
                        *ngIf="visitForm.get('date').invalid"
                    >
                        <span *ngIf="visitForm.get('date').errors['required']">
                            Дата обов'язкова
                        </span>
                    </div>

                    <button
                        [disabled]="visitForm.invalid || visitForm.disabled"
                        type="submit"
                        class="waves-effect waves-light btn green"
                    >
                        Запланувати візит <i class="material-icons right">schedule</i>
                    </button>

                </form>

            </div>

        </div>
    </div>

</div>


<div class="row" *ngIf="lesson; else loader">
    <app-lesson-visits [lesson_id]="lesson.id" [fetchData$]="fetchData$">
    </app-lesson-visits>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
