<h3 class="center-align">
    Візити
</h3>

<div class="row">

    <button class="btn indigo" (click)="fetchVisitsInfo()">
        Оновити <i class="material-icons right">refresh</i>
    </button>

    <ng-template [ngIf]="loading">
        <app-loader></app-loader>
    </ng-template>

    <table class="highlight">

        <thead>
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Початок</th>
                <th>Кінець</th>
                <th class="error-col">Помилка</th>
                <th>Зображення</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let visitInfo of visitsInfo">
                <td>{{ visitInfo.id }}</td>
                <td>{{ visitInfo.date | date:'yyyy-MM-dd' }}</td>
                <td>{{ visitInfo.visit_start | date:'yyyy-MM-dd hh:mm:ss' }}</td>
                <td>{{ visitInfo.visit_finish | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
                <td class="error-col">{{ visitInfo.error_message }}</td>
                <td>
                    <app-material-box
                        *ngIf="visitInfo.image"
                        [imgSrc]="visitInfo.image | mediaURL"
                        width="250"
                        height="150"
                        alt="Результат відвідування"
                    ></app-material-box>
                </td>
                <td
                    [class.red]="visitInfo.status == statuses.FAILED"
                    [class.green]="visitInfo.status == statuses.SUCCESSFUL"
                    [class.blue]="visitInfo.status == statuses.RUNNING"
                >
                    {{ visitInfo.status | titlecase }}
                </td>
                <td class="white">
                    <span
                        class="red btn-flat"
                        (click)="deleteVisit(visitInfo.id)"
                    >
                        <i class="material-icons">delete_forever</i>
                    </span>
                </td>
            </tr>

        </tbody>

    </table>

</div>
