<h3 *ngIf="currentUser$ | async as user">
    Привіт, {{ user.username }}
</h3>
<h5>
    Твої уроки на сьогодні
</h5>


<div class="row" *ngIf="lessons$ | async as lessons; else loading">
    <div class="col s12 m6" *ngFor="let lesson of lessons">
        <app-lesson-item [lesson]="lesson"></app-lesson-item>
    </div>
</div>


<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
