<div class="row">

    <div class="card col s12 m12 l6 push-l3 register-form">

        <div class="card-content">

             <span class="card-title center-align">
                <b>Зареєструватись</b>
            </span>

            <form [formGroup]="form" (ngSubmit)="submit()">

                <div class="input-field">
                    <input id="username" type="text" formControlName="username">
                    <label for="username">Логін</label>
                    <span
                        class="helper-text red-text"
                        *ngIf="form.get('username').invalid && form.get('username').touched"
                    >
                    <span *ngIf="form.get('username').errors['required']">Обов'кове</span>
                </span>
                </div>

                <div class="input-field">
                    <input id="email" type="text" formControlName="email">
                    <label for="email">Email</label>
                    <span
                        class="helper-text red-text"
                        *ngIf="form.get('email').invalid && form.get('email').touched"
                    >
                    <span *ngIf="form.get('email').errors['required']">Обов'кове</span>
                    <br>
                    <span *ngIf="form.get('email').errors['email']">Email не коректний</span>
                </span>
                </div>

                <div class="input-field">
                    <input id="password" type="password" formControlName="password">
                    <label for="password">Пароль</label>
                    <span
                        class="helper-text red-text"
                        *ngIf="form.get('password').invalid && form.get('password').touched"
                    >
                    <span *ngIf="form.get('password').errors['required']">Обов'кове</span>
                </span>
                </div>

                <div class="input-field">
                    <input id="password2" type="password" formControlName="password2">
                    <label for="password2">Пароль</label>
                    <span
                        class="helper-text red-text"
                        *ngIf="!isPasswordEqual && form.get('password2').touched"
                    >
                        <span *ngIf="!isPasswordEqual">Паролі не співпадають</span>
                    </span>
                </div>


                <h4 class="center">
                    JetIQ
                </h4>


                <div class="input-field">
                    <input id="jetiqUsername" type="text" formControlName="jetiqUsername">
                    <label for="jetiqUsername">JetIQ логін</label>
                    <span
                            class="helper-text red-text"
                            *ngIf="form.get('jetiqUsername').invalid && form.get('jetiqUsername').touched"
                        >
                        <span *ngIf="form.get('jetiqUsername').errors['required']">Обов'кове</span>
                    </span>
                </div>

                <div class="input-field">
                    <input id="jetiqPassword" type="password" formControlName="jetiqPassword">
                    <label for="jetiqPassword">JetIQ пароль</label>
                    <span
                        class="helper-text red-text"
                        *ngIf="form.get('jetiqPassword').invalid && form.get('jetiqPassword').touched"
                    >
                        <span *ngIf="form.get('jetiqPassword').errors['required']">Обов'кове</span>
                    </span>
                </div>

                <button
                    class="btn black"
                    type="submit"
                    [disabled]="form.disabled || form.invalid || !isPasswordEqual"
                >
                    Зареєструватись <i class="material-icons right">person_add</i>
                </button>

            </form>

        </div>

    </div>

</div>
