<h3>
    <a [routerLink]="['/subject']">Предмети</a>
    > {{ isNew ? 'Створити': 'Редагувати' }}
</h3>


<div class="row" *ngIf="!isNew">
    <div class="col s6">
        <button
            class="waves-effect waves-light btn submit-button blue darken-4"
            (click)="addLesson()"
        >
            <i class="material-icons left">add</i>Додати заняття
        </button>
    </div>

    <div class="col s6">
        <button
            class="waves-effect waves-light btn submit-button red right"
            (click)="delete()"
            [disabled]="form.disabled"
        >
            <i class="material-icons left">delete_forever</i>Видалити
        </button>
    </div>
</div>


<div class="row">

    <form class="col s12" [formGroup]="form" (ngSubmit)="submit()">

        <!--   Name field     -->
        <label for="name">Назва предмету</label>
        <div class="input-field">
            <input
                id="name"
                class="input-field"
                formControlName="name"
                [class.invalid]="form.get('name').invalid && form.get('name').touched"
            >
        </div>
        <div
            class="helper-text red-text"
            *ngIf="form.get('name').invalid && form.get('name').touched"
        >
            <span *ngIf="form.get('name').errors['required']">
                Назва обовязкова
            </span>
        </div>

        <!--   Teacher field     -->
        <label for="teacher">Викладач</label>
        <div class="input-field">
            <input
                id="teacher"
                class="input-field"
                formControlName="teacher"
                [class.invalid]="form.get('teacher').invalid && form.get('teacher').touched"
            >
        </div>
        <div
            class="helper-text red-text"
            *ngIf="form.get('teacher').invalid && form.get('teacher').touched"
        >
            <span *ngIf="form.get('teacher').errors['required']">
                Викладач обовязковий
            </span>
        </div>

        <!--   Meet URL Name field     -->
        <label for="meet">Назва посилання на лекцію</label>
        <div class="input-field">
            <input
                id="meet"
                class="input-field"
                formControlName="meet"
                [class.invalid]="form.get('meet').invalid && form.get('meet').touched"
            >
        </div>
        <div
            class="helper-text red-text"
            *ngIf="form.get('meet').invalid && form.get('meet').touched"
        >
            <span *ngIf="form.get('meet').errors['required']">
                Meet URL Name is required
            </span>
        </div>

        <!--   Create button     -->
        <div>
            <button
                type="submit"
                [disabled]="form.invalid || form.disabled"
                class="waves-effect waves-light btn submit-button green"
            >
                Зберігти <i class="material-icons right">create</i>
            </button>
        </div>

    </form>

</div>
