<h3>Предмети</h3>

<button class="btn create-button green" [routerLink]="['/subject', 'new']">
    <i class="material-icons right">create</i>
    Додати Предмет
</button>

<div class="row" *ngIf="subjects$ | async as subjects; else loading">
    <div class="col s12 m6" *ngFor="let subject of subjects">
        <div class="card indigo lighten-2 hoverable small">
            <div class="card-content">
                <span class="card-title subject-title"> <b>{{ subject.name }}</b> </span>
                <span>
                    <b>Викладач<i class="material-icons left small">account_box</i></b>
                </span>
                <p>
                    {{ subject.teacher }}
                </p>

                <span>
                    <b>
                        Назва посилання на лекцію
                        <i class="material-icons left small white-text">group</i>
                    </b>
                </span>
                <p>
                    {{ subject.meet_url_name }}
                </p>
            </div>
            <div class="card-action">
                <button class="btn orange black-text" [routerLink]="['/subject', subject.name]">
                    Перейти до предмету
                    <i class="material-icons right">open_in_new</i>
                </button>
            </div>
        </div>
    </div>
</div>


<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
