<h3>
    <a routerLink="/lesson">Заняття</a> >  Створити
</h3>


<div class="row">
    <form class="col s12" [formGroup]="form" (ngSubmit)="submit()">

        <!--   subject field     -->
        <label for="subject">Назва предмету</label>
        <div class="input-field">
            <select
                #subjectRef
                id="subject"
                formControlName="subject"
                [class.invalid]="form.get('subject').invalid && form.get('subject').touched"
            >
                <option [ngValue]="null" disabled selected>Оберіть предмет</option>
                <option *ngFor="let subject of subjects" [ngValue]="subject.name">
                    {{ subject.name }}
                </option>
            </select>

        </div>
        <div
            class="helper-text red-text"
            *ngIf="form.get('subject').invalid"
        >
            <span *ngIf="form.get('subject').errors['required']">
                Назва обов'язкова
            </span>
        </div>

        <!--   Slug field     -->
        <label for="slug">Індифікатор тижня</label>
        <div class="input-field">
            <input
                #slugRef
                id="slug"
                class="autocomplete"
                type="text"
                formControlName="slug"
                autocomplete="off"
                [class.invalid]="form.get('slug').invalid && form.get('slug').touched"
            >
        </div>
        <div
            class="helper-text red-text"
            *ngIf="form.get('slug').invalid && form.get('slug').touched"
        >
            <span *ngIf="form.get('slug').errors['required']">
                Поле обовязкове
            </span>
        </div>

        <!--   time field     -->
        <label for="time">Час початку заняття</label>
        <div>
            <input
                #timeRef
                id="time"
                class="timepicker"
                formControlName="time"
                [class.invalid]="form.get('time').invalid && form.get('time').touched"
            >
        </div>
        <div
            class="helper-text red-text"
            *ngIf="form.get('time').invalid && form.get('time').touched"
        >
            <span *ngIf="form.get('time').errors['required']">
                Час обовязковий
            </span>
        </div>

        <!--   weekday field     -->
        <p class="grey-text">
            День тижня:
        </p>
        <app-weekday-input (choseEvent)="choseWeekday($event)">
        </app-weekday-input>


        <!--   Create button     -->
        <div class="mg-top30">
            <button
                [disabled]="form.invalid || form.disabled"
                type="submit"
                class="waves-effect waves-light btn green"
            >
                Зберігти <i class="material-icons right">create</i>
            </button>
        </div>

    </form>

</div>
