<div class="row">


    <div class="col s12 m12 l6">

        <div
            *ngIf="user; else loading"
            class="card user"
        >

            <div class="card-content">

                <span class="card-title">
                    <i class="material-icons left">person</i>
                    {{ user.username }}
                </span>

                <span>
                    <i class="material-icons left">
                        email
                    </i>

                    {{ user.email }}

                    <a class="btn-flat right waves-effect" (click)="copyEmail()">
                        <i class="material-icons small">content_copy</i>
                    </a>

                </span>
            </div>

        </div>

        <ng-template #loading>
            <app-loader></app-loader>
        </ng-template>

    </div>

    <div class="col s12">
        <app-lesson-visits></app-lesson-visits>
    </div>

</div>

